.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    350deg,
    rgb(21, 22, 24) 0%,
    rgb(34, 35, 40) 80%
  );
}
.slds-grid.justify-center {
  justify-content: center;
}
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 50px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;

  transition: 0.5s ease;
  margin: 30px;
}
.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  max-height: 170px;
  width: 100%;
  min-height: 170px;
}

.card-text {
  grid-area: text;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  font-size: 22px;
  margin: 0rem 1rem 1rem 1rem;
}
.card-stats {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #ff076e;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
}
.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.content {
  font-size: 20px;
}
.slds-modal__title {
  font-size: 24px;
  font-weight: 700;
}
.slds-modal__header {
  font-size: 24px;
  font-weight: 700;
  background: #ff076e;
  color: #fff;
}
.footer {
  display: flex;
  background: rgb(255, 77, 7);
  color: #fff;
  padding: 1rem;
  font-size: 1.3rem;
}
